.login-wrapper{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f3f3f3;
}

.login-card{
  width:420px;
  background:white;
  padding:40px;
  border-radius:12px;
  box-shadow:0 6px 20px rgba(0,0,0,0.08);
}
.login-card input:focus{
  background-color:#f0f3f7;
  outline:none;
  border:1px solid #00a000;
}
/* Logo */
.logo{
  text-align:center;
  font-size:24px;
  font-weight:600;
  margin-bottom:10px;
  color:#333;
}

.logo i{
  color:#2e7d32;
  margin-right:6px;
}

.logo .green{
  color:#2e7d32;
}
.green{
  color:#00a000;
}

h2{
  text-align:center;
  margin-bottom:25px;
}

label{
  display:block;
  margin-top:15px;
  margin-bottom:5px;
  font-size:14px;
}

/* input ให้ยาวเท่ากัน */
.login-card input[type="email"],
.login-card input[type="password"],
.login-card input[type="text"]{
  width:100%;
  height:45px;
  padding:10px 40px 10px 12px;
  border-radius:8px;
  border:1px solid #ddd;
  font-size:14px;
  box-sizing:border-box;
}

/* กล่อง password */
.password-box{
  position:relative;
  width:100%;
}

/* icon ตา */
.eye-icon{
  position:absolute;
  right:12px;
  top:50%;
  transform:translateY(-50%);
  cursor:pointer;
  font-size:18px;
  color:#666;
}

/* row จดจำฉัน */
.row{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-top:12px;
  font-size:13px;
}

/* checkbox กับข้อความให้ตรงกัน */
.remember{
  display:flex;
  align-items:center;
  gap:6px;
}

.remember input{
  width:auto;
}

.forgot{
  color:#00a000;
  cursor:pointer;
}

button{
  width:100%;
  margin-top:20px;
  padding:12px;
  background:#00b000;
  color:white;
  border:none;
  border-radius:8px;
  font-size:16px;
  cursor:pointer;
}

button:hover{
  background:#009000;
}

.register{
  text-align:center;
  margin-top:20px;
}

.register a{
  color:#00a000;
  cursor:pointer;
  font-weight:500;
}